package views

import "luuhai48/short/views/shared"

templ Index() {
	@shared.Layout(shared.Config{
		Title: "URL Shortener - GoHTMX Tech Stack",
		SEO: &shared.SEO{
			Title: "URL Shortener - GoHTMX Tech Stack",
			Description: "Simple URL Shortener Using Best Simple Tech Stack",
			Keywords: "url shortener, golang, htmx, simple",
			SiteName: "URL Shortener",
			Type: "website",
			Image: "/static/logo.webp",
		},
	}) {
		<h1 class="text-3xl font-bold underline">
			Hello world!
		</h1>
	}
}
